<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>history</title>
</head>
<body>

<h2>Booking History</h2>
<ul>
    <% history.forEach(booking => { %>
        <li>
            <p><%= booking.name %> booked seat <%= booking.seat_number %> for <%= booking.title %> at <%= booking.showtime %></p>
        </li>
    <% }) %>
</ul>
</body>
</html>