<!DOCTYPE html>
<html>
  <head>
    <title>HOME></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <header>
    <nav>
      <a href="/">Home</a>
        <a href="/history">Booking History</a>
        <a href="/logout">Logout</a>
        <a href="/users/login">Login</a>
        <a href="/users/registration">Register</a>
    </nav>
  </header>


  <main>
    <h1>Welcome to the Theatre Seat Booking System</h1>
    <a href="/films">Browse Films</a>
  </main>

  <footer>
    <p>&copy; 2024 Theatre Seat Booking System</p>
  </footer>
  </body>
</html>
