<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<a class="back" href="http://localhost:3000/users/profile">Back</a>
<div class="container">
    <h1>Users List</h1>
    <ul id="users-list"></ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>